body {
    display: grid;
    column-count: 2;
    padding-left: 10vw;
    padding-right: 10vw;

    width: calc(100vw - 20vw);

    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-title-color);
}

p, span, li {
    color: var(--text-paragraph-color);
}

.container {

    width: calc(100vw - 40px);

    background-color: var(--container-color);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}